body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.secend {
    color: coral;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.container {
    width: 50%;
    padding-left: 5%;
}

.med {
    width: 80%;
}

button {
    text-decoration: none;
    background-image: linear-gradient(coral, orange);
    padding: 10px 40px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.buttan {
    text-decoration: none;
    background-image: linear-gradient(coral, orange);
    padding: 10px 40px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.dream {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
}

.experience-area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#full {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

.Full-stack {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.baby {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#bab {
    border-left: 7px solid;
    border-image: linear-gradient(purple, rgb(255, 123, 0));
    border-image-slice: 1;
}

footer {
    text-align: center;
}